<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Device Settings</title>
</head>
<body>
    <h1>DAC Settings</h1>
    <div id="dacSettings">
        <!-- Dynamically generated DAC settings will be added here -->
    </div>

    <h1>Relay Settings</h1>
    <div id="relaySettings">
        <!-- Dynamically generated relay settings will be added here -->
    </div>

    <h1>Level Sensor Settings</h1>
    <div id="sensorSettings">
        <!-- Dynamically generated sensor settings will be added here -->
    </div>

    <button onclick="saveConfig()">Save Settings</button>

    <script>

        fetch('/getConfig')
            .then(response => response.json())
            .then(config => {
                generateSettings('DAC', config.DACS);
            })
            .catch(error => console.error('Error:', error));
        
        function generateSettings(type, devices) {
            const container = document.getElementById(`${type.toLowerCase()}Settings`);
            container.innerHTML = '';

            devices.forEach((device, index) => {
                const div = document.createElement('div');
                div.innerHTML = `
                    <label for="${type}_${index}_addr">Address:</label>
                    <input type="text" id="${type}_${index}_addr" value="${device.ADDR}" disabled>

                    <label for="${type}_${index}_name">Name:</label>
                    <input type="text" id="${type}_${index}_name" value="${device.NAME}">

                    ${type === 'DAC' ? `
                        <label for="${type}_${index}_channel">Channel:</label>
                        <select id="${type}_${index}_channel">
                            <option value="0" ${device.CHANNEL === '0' ? 'selected' : ''}>0</option>
                            <option value="1" ${device.CHANNEL === '1' ? 'selected' : ''}>1</option>
                        </select>
                    ` : ''}
                    <br><br>
                `;
                container.appendChild(div);
            });
        }
        
        function saveConfig(updatedConfig) {
            fetch('/saveConfig', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(updatedConfig)
        })
        .then(response => {
            if (response.ok) {
                console.log('Config updated successfully!');
            } else {
                console.error('Config update failed.');
            }
        })
        .catch(error => console.error('Error:', error));
    }
    </script>

</body>
</html>
